# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# LaTeX build output
build/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pdf
!/thesis.pdf
*.run.xml
*.synctex.gz
*.toc
*-SAVE-ERROR

# Misc
AGENT.md
